@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Example<br />
    Redmond, WA 0000-0000<br />
    <abbr title="Phone" style="text-decoration: none">Phone:</abbr>
    0000-0000
</address>

<address>
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/gustavo-foratini-motta-98b64a212/" target="_blank">Gustavo Foratini Motta</a><br />
    <strong>Github:</strong> <a href="https://github.com/gfmotta" target="_blank">gfmotta</a>
</address>
